<app-employeehome></app-employeehome>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Leave Form</h3>
                       

                            <div class="row">
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <input type="text" id="firstName" class="form-control form-control-lg" [(ngModel)]="empcode">
                                        <label class="form-label" for="firstName">employee code</label>
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="reason" id="emailAddress" placeholder="Enter Reason"
                                            class="form-control form-control-lg" [(ngModel)]="reason">

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <select name="" id="" class="form-control" [(ngModel)]="type">
                                            <option value="">select leave type</option>
                                            <option value="casual">casual leave</option>
                                            <option value="sick">sick leave</option>
                                            <option value="earned">earned leave</option>
                                            <option value="loss of pay">loss of pay</option>

                                        </select>
                                    </div>

                                </div>
                            </div>


                            <div class=" d-flex justify-content-center">
                                <div class="mt-4 pt-2">
                                    <input class="btn btn-primary " type="submit" value="Submit"  (click)="requestLeave()">
                                </div>
                            </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>